<h2>Form For New Registration</h2>

<!-- <h1>{{title}}</h1> -->
<!-- <app-heroes></app-heroes>
<registration-form></registration-form> -->

<div class="form"  >
    <label>
        First Name:
    </label>
    <input type="text" name="fname" placeholder="Enter your First Name"> <br />
    <label>
        Last Name:
    </label>
    <input type="text" name="lname" placeholder="Enter your Lasst Name"> <br />
    <label>
        Phone:
    </label>
    <input type="text" name="phone" placeholder="Enter your Phone Number"> <br />
    <label>
        Email:
    </label>
    <input type="text" name="email" placeholder="Enter your Email"> <br />
    <label>
        Address:
    </label>
    <input type="text" name="address" placeholder="Enter your Address"> <br />
    <label>
        City:
    </label>
    <input type="text" name="city" placeholder="Enter your City"> <br />
    <label>
        Pincode:
    </label>
    <input type="text" name="pincode" placeholder="Enter your Pincode"> <br />
    <label>
        State:
    </label>
    <input type="text" name="state" placeholder="Enter your State"> <br />
    <label>
        Gender:
    </label> <br />
    <input type="radio" name="gender">Male <br />
    <input type="radio" name="gender">Female <br />
    <input type="radio" name="gender">Others <br />

    <input type="checkbox" name="agreement"/>
    I agree to the Terms of Service
    <br />
    <button type="submit" class="btn btn-secondary" >Submit</button>
</div>